<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <% userWithSecrets.forEach((user) => { %>           <%# finding each user in the array of users%>
        <%user.secrets.forEach((secret) => { %>         <%# finding each user.secrets in the array of secrets%>
          <p class="secret-text"><%= secret %></p>      <%# printing each secrete in the secrets array of the user%>
        <%})%>

    <% }); %>


    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
